<div id="main" class="cf">
	<div class="colmask threecol">
		<div class="colmid">
			<div class="colleft">
				<div class="col1">
					<p class="letra_principal"><%=t :stepone%></p>
					<img class="diseño_piensa" src="assets/estilo/SS_diseño_piensa.gif">					
				</div>
				<div class="col2">
					<p class="letra_principal"><%=t :steptwo%></p>
					<img class="diseño_piensa" src="assets/estilo/SS_diseño_busca3.gif">					
				</div>
				<div class="col3">
					<div class="boton_center">
						<div class="diseño_boton_signup"><a href="/signup"><%=t :signup%></a></div>
						<div class="azul">
							<p><%=t :azulp%></p>
							<ul>
								<li><%=t :azul1%></li>
								<li><%=t :azul2%></li>
								<li><%=t :azul3%></li>
								<li><%=t :azul4%></li>
								<li><%=t :azul5%></li>
							</ul>
						</div>
					</div>
				</div>
					<div class="col4">
					</div>
			</div>
		</div>
	</div>
		<div class="naranja">
			<p><%=t :definicionSS%></p>
		</div>
		<div class="definicion">
				<li>Click here to see some examples</li>
		</div>
</div>
					