<div id="main" class="cf">
	<meta http-equiv="Content-Style-Type" content="text/css"/> 
 	<link rel="stylesheet" type="text/css" href="assets/stylesheets/login.css.scss" media="screen, projection"/>
	<div>
		<div class="fondo_blanco">
			<p class="terms_titulo"><%=t :terms_titulo%></p>
			<p class="terms0"><%=t :terms0%></p>
			<p class="terms"><%=t :terms00%></p>
			<div id="accordion">
			<p class="termsT"><%=t :terms1%></p>
			<div>
				<p class="terms"><%=t :terms11%></p>
				<p class="terms"><%=t :terms12%></p>
			</div>
			<p class="termsT"><%=t :terms2%></p>
			<div>
				<p class="terms"><%=t :terms21%></p>
				<p class="terms"><%=t :terms22%></p>
				<p class="terms"><%=t :terms23%></p>
			</div>
			<p class="termsT"><%=t :terms3%></p>
			<div>
				<p class="terms"><%=t :terms31%></p>
				<p class="terms"><%=t :terms32%></p>
				<p class="terms"><%=t :terms33%></p>
			</div>
			<p class="termsT"><%=t :terms4%></p>
			<div>
				<p class="terms"><%=t :terms41%></p>
				<p class="terms"><%=t :terms42%></p>
				<p class="terms"><%=t :terms43%></p>
				<p class="terms"><%=t :terms44%></p>
				<p class="terms"><%=t :terms45%></p>
			</div>
			<p class="termsT"><%=t :terms5%></p>
			<div>
				<p class="terms"><%=t :terms51%></p>
				<p class="terms"><%=t :terms52%></p>
				<p class="terms"><%=t :terms53%></p>
			</div>
			<p class="termsT"><%=t :terms6%></p>
			<div>
				<p class="terms"><%=t :terms61%></p>
				<p class="terms"><%=t :terms62%></p>
				<p class="terms"><%=t :terms63%></p>
			</div>
			<p class="termsT"><%=t :terms7%></p>
			<div>
				<p class="terms"><%=t :terms71%></p>
			</div>
			<p class="termsT"><%=t :terms8%></p>
			<div>
				<p class="terms"><%=t :terms81%></p>
			</div>
			<p class="termsT"><%=t :terms9%></p>
			<div>
				<p class="terms"><%=t :terms91%></p>
				<p class="terms"><%=t :terms92%></p>
			</div>
			</div>
			<div class="cl-left">&nbsp;</div>
		</div>
	</div>
